<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Rezervační aplikace</title>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js" integrity="sha512-tL4PIUsPy+Rks1go4kQG8M8/ItpRMvKnbBjQm4d2DQnFwgcBYRRN00QdyQnWSCwNMsoY/MfJY8nHp2CzlNdtZA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.js" integrity="sha512-aHuAnb+FZ/yM5zYvdiA8q0sxLdsBQ3PRwO8D/08qsenCLQ2gWsosB43Cn1X8esAz0IpaC7Ns5cAPyKIdJQ0hNw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/app.js"></script>
</head>
<body onload="connect()">
<div class="container">
    <h2>Vytvoření rezervace</h2>
    <form onsubmit="createReservation()">
        <div class="form-group">
            <label for="reservableScheduleId">Id termínu</label>
            <input id="reservableScheduleId" class="form-control"disabled readonly required>
        </div>
        <div class="form-group">
            <label for="firstName">Jméno</label>
            <input id="firstName" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="lastName">Příjmení</label>
            <input id="lastName" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="phoneNumber">Telefon</label>
            <input id="phoneNumber" class="form-control">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Vytvořit rezeravci</button>
        </div>
    </form>
</div>
<div class="container">
    <h2>Termíny rezervací</h2>
    <table class="table-striped table table-hover table-dark">
        <thead>
        <tr>
            <th>Datum</th>
            <th>Od</th>
            <th>Do</th>
            <th>Stav</th>
            <th>Id služby</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reservableScheduleRecord : ${reservableSchedule}">
            <td th:text="${reservableScheduleRecord.getReservationDate()}"></td>
            <td th:text="${reservableScheduleRecord.getReservableTimeWindow().getMinimum()}"></td>
            <td th:text="${reservableScheduleRecord.getReservableTimeWindow().getMaximum()}"></td>
            <td th:text="${reservableScheduleRecord.getReservableState()}"></td>
            <td th:text="${reservableScheduleRecord.getServiceDefinitionId()}"></td>
            <td><button onclick="lockReservableSchedule()" class="btn btn-primary">Vybrat</button></td>
        </tr>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>

</body>
</html>